Node-Red-Monitoreo-Simple-API-Sensor.json
[
    {
        "id": "e0b148e704501213",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0b7ccba55f97a494",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "a063a623351f88f4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1a83e3dfeb99f0dd",
                "ba6ed65d18b2a706"
            ]
        ]
    },
    {
        "id": "a8ea0a066f34297b",
        "type": "mqtt out",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a063a623351f88f4",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "3ef6d024fcf7ad59",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "625477e1a2eea46d",
                "bbb4513c0d5af03d"
            ]
        ]
    },
    {
        "id": "1a83e3dfeb99f0dd",
        "type": "json",
        "z": "e0b148e704501213",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "3ef6d024fcf7ad59",
                "029e3fd44bf4cf31",
                "20c39d8a652bb624"
            ]
        ]
    },
    {
        "id": "625477e1a2eea46d",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "",
        "group": "f4e702beb3672006",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "25",
        "className": "",
        "x": 910,
        "y": 120,
        "wires": []
    },
    {
        "id": "dfc6ad5ffcedb255",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "",
        "group": "f4e702beb3672006",
        "order": 2,
        "width": 5,
        "height": 6,
        "gtype": "gage",
        "title": "Humedad relativa",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#73d216",
            "#0094ce"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "029e3fd44bf4cf31",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "dfc6ad5ffcedb255",
                "bbb4513c0d5af03d"
            ]
        ]
    },
    {
        "id": "bbb4513c0d5af03d",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "f4e702beb3672006",
        "order": 4,
        "width": 10,
        "height": 7,
        "label": "Historico temperatura y humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "20c39d8a652bb624",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Aire acondicionado",
        "func": "temp = msg.payload.temp;\n\nif(temp > 30){\n    msg.payload = \"true\";\n}\nelse{\n    msg.payload = \"false\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "a8ea0a066f34297b"
            ]
        ]
    },
    {
        "id": "51aba979640dd46c",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.label = \"Humedad\";\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 640,
        "wires": [
            [
                "6888488d9c8530b7"
            ]
        ]
    },
    {
        "id": "1f7d46fda6abd86c",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.label = \"Temperatura\";\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 600,
        "wires": [
            [
                "34f86c101abcaf2a"
            ]
        ]
    },
    {
        "id": "34f86c101abcaf2a",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "10bd7818f0d0631f",
        "order": 1,
        "width": 8,
        "height": 7,
        "label": "Historico  temperatura sensores",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "289cbf13a69d2d8a",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/sensores",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7067f09cda152ac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 600,
        "wires": [
            [
                "52c057cd4fb39807"
            ]
        ]
    },
    {
        "id": "52c057cd4fb39807",
        "type": "json",
        "z": "e0b148e704501213",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 450,
        "y": 600,
        "wires": [
            [
                "51aba979640dd46c",
                "1f7d46fda6abd86c"
            ]
        ]
    },
    {
        "id": "ba6ed65d18b2a706",
        "type": "mqtt out",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/sensores",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7067f09cda152ac5",
        "x": 240,
        "y": 360,
        "wires": []
    },
    {
        "id": "6888488d9c8530b7",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "10bd7818f0d0631f",
        "order": 2,
        "width": 8,
        "height": 7,
        "label": "Historico  humedad sensores",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "87c21d3eaa651c1e",
        "type": "inject",
        "z": "e0b148e704501213",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "a95e3f41c9acdf53",
                "74ea5df1851b11c3"
            ]
        ]
    },
    {
        "id": "a95e3f41c9acdf53",
        "type": "http request",
        "z": "e0b148e704501213",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.354509&lon=-99.236450&exclude=hourly,daily&appid=2bf374faf97f87e009a827a0832fd0e7&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 820,
        "wires": [
            [
                "361e68e822f912ab"
            ]
        ]
    },
    {
        "id": "361e68e822f912ab",
        "type": "json",
        "z": "e0b148e704501213",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "4816de48a6053d5e",
                "a010ed84d5265118",
                "81cf6946c4cb6029"
            ]
        ]
    },
    {
        "id": "4816de48a6053d5e",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 820,
        "wires": [
            [
                "e098ddb008b9ddc5"
            ]
        ]
    },
    {
        "id": "a010ed84d5265118",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 860,
        "wires": [
            [
                "be28dc92488f0767"
            ]
        ]
    },
    {
        "id": "e098ddb008b9ddc5",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "",
        "group": "1daf5897e244519f",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#0094ce",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 820,
        "wires": []
    },
    {
        "id": "be28dc92488f0767",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "",
        "group": "1daf5897e244519f",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#8f5902",
            "#73d216",
            "#0094ce"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1040,
        "y": 860,
        "wires": []
    },
    {
        "id": "81cf6946c4cb6029",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow7\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 900,
        "wires": [
            [
                "2feb6a8e8b3f6f4d"
            ]
        ]
    },
    {
        "id": "2feb6a8e8b3f6f4d",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "",
        "group": "1daf5897e244519f",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1030,
        "y": 900,
        "wires": []
    },
    {
        "id": "80af2815ba7a737f",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Calidad del aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 940,
        "wires": [
            [
                "bb2a7f8fc6c7c130"
            ]
        ]
    },
    {
        "id": "74ea5df1851b11c3",
        "type": "http request",
        "z": "e0b148e704501213",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.354509&lon=-99.236450&appid=2bf374faf97f87e009a827a0832fd0e7",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 880,
        "wires": [
            [
                "1d14816819aa41b1"
            ]
        ]
    },
    {
        "id": "1d14816819aa41b1",
        "type": "json",
        "z": "e0b148e704501213",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 880,
        "wires": [
            [
                "80af2815ba7a737f"
            ]
        ]
    },
    {
        "id": "bb2a7f8fc6c7c130",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "",
        "group": "1daf5897e244519f",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1060,
        "y": 940,
        "wires": []
    },
    {
        "id": "425e39c91578f1eb",
        "type": "comment",
        "z": "e0b148e704501213",
        "name": "Datos instantaneos sensores",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "1570ac33730d8c16",
        "type": "comment",
        "z": "e0b148e704501213",
        "name": "Datos historicos sensores grupales",
        "info": "",
        "x": 200,
        "y": 560,
        "wires": []
    },
    {
        "id": "4b2624e8a15f85ca",
        "type": "comment",
        "z": "e0b148e704501213",
        "name": "Datos instantaneos API",
        "info": "",
        "x": 160,
        "y": 780,
        "wires": []
    },
    {
        "id": "6df3054cafb8336c",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/API",
        "qos": "2",
        "datatype": "auto",
        "broker": "7067f09cda152ac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1180,
        "wires": [
            [
                "9dc5c857f1159cfd"
            ]
        ]
    },
    {
        "id": "9dc5c857f1159cfd",
        "type": "json",
        "z": "e0b148e704501213",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "06ca2161482811cd",
                "450bbbd6405c24ea",
                "1b0c470665e185c6",
                "b68b1873080a7046"
            ]
        ]
    },
    {
        "id": "06ca2161482811cd",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1180,
        "wires": [
            [
                "7858d2b6af48cb98"
            ]
        ]
    },
    {
        "id": "7858d2b6af48cb98",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "b99f1379bc7b7f8b",
        "order": 1,
        "width": 8,
        "height": 7,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "450bbbd6405c24ea",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1220,
        "wires": [
            [
                "59dab07ccfdad7ba"
            ]
        ]
    },
    {
        "id": "d37bd4b37feeec72",
        "type": "inject",
        "z": "e0b148e704501213",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "27c35bdac20e29d7"
            ]
        ]
    },
    {
        "id": "27c35bdac20e29d7",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "",
        "func": "//msg.payload = '{\"id\":\"Lalo\",\"temp\":'+global.get (\"tempFlow7\")+',\"hum\":'+global.get (\"humFlow7\")+'}';\nmsg.payload = '{\"id\":\"Lalo\",\"temp\":'+global.get (\"tempFlow7\")+',\"hum\":'+global.get (\"humFlow7\")+',\"uv\":'+global.get (\"uvFlow7\")+',\"aqi\":'+global.get (\"aqi\")+'}';\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "e3d0298cecdf8520"
            ]
        ]
    },
    {
        "id": "e3d0298cecdf8520",
        "type": "mqtt out",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/API",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7067f09cda152ac5",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b0c470665e185c6",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1260,
        "wires": [
            [
                "623a3ee0099367e3"
            ]
        ]
    },
    {
        "id": "b68b1873080a7046",
        "type": "function",
        "z": "e0b148e704501213",
        "name": "Calidad del aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1300,
        "wires": [
            [
                "c776e06df740b710"
            ]
        ]
    },
    {
        "id": "69e4f376887029d8",
        "type": "comment",
        "z": "e0b148e704501213",
        "name": "Datos historicos API grupales",
        "info": "",
        "x": 180,
        "y": 1140,
        "wires": []
    },
    {
        "id": "a22c16450614badc",
        "type": "comment",
        "z": "e0b148e704501213",
        "name": "Envio de datos",
        "info": "",
        "x": 200,
        "y": 400,
        "wires": []
    },
    {
        "id": "59dab07ccfdad7ba",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "b99f1379bc7b7f8b",
        "order": 2,
        "width": 8,
        "height": 7,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "623a3ee0099367e3",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "b99f1379bc7b7f8b",
        "order": 3,
        "width": 8,
        "height": 7,
        "label": "UV",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "c776e06df740b710",
        "type": "ui_chart",
        "z": "e0b148e704501213",
        "name": "",
        "group": "b99f1379bc7b7f8b",
        "order": 4,
        "width": 8,
        "height": 7,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "825cd3ef25490c06",
        "type": "ui_spacer",
        "z": "e0b148e704501213",
        "name": "spacer",
        "group": "f4e702beb3672006",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "83cdd44d7f2c32b3",
        "type": "ui_spacer",
        "z": "e0b148e704501213",
        "name": "spacer",
        "group": "1daf5897e244519f",
        "order": 1,
        "width": 3,
        "height": 1
    },
    {
        "id": "bd02da19da663036",
        "type": "ui_spacer",
        "z": "e0b148e704501213",
        "name": "spacer",
        "group": "1daf5897e244519f",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "a063a623351f88f4",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4e702beb3672006",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "cebb3f53d288520d",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10bd7818f0d0631f",
        "type": "ui_group",
        "name": "Historico sensores grupal",
        "tab": "cebb3f53d288520d",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7067f09cda152ac5",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ",
        "broker": "3.121.170.193",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1daf5897e244519f",
        "type": "ui_group",
        "name": "API",
        "tab": "cebb3f53d288520d",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b99f1379bc7b7f8b",
        "type": "ui_group",
        "name": "Historico API grupal",
        "tab": "cebb3f53d288520d",
        "order": 4,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cebb3f53d288520d",
        "type": "ui_tab",
        "name": "Monitoreo de temperatura y Humedad",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]